
:root {
    --bg-color: #222f3e;
    --class1-color: #ee5253;
    --class2-color: #10ac84;
    --class3-color: #ff9f43;
    --class4-color: #f368e0;
    --class5-color: #5f27cd;
    --class6-color: #01a3a4;
    --doc-color: #fff;
    --title-font: 'Montserrat', sans-serif;
    --doc-font: 'Open Sans', sans-serif;
    --thead-color: #8395a7;
    --border-color: #576574;
}

/* Globals */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--doc-color);
    font-family: var(--doc-font);
    font-weight: 400;
}

td {
    font-size: 1.6rem;
    text-align: center;
    height: 8rem; /* Cells height */
}

@media (min-width: 1200px) {
    td {
        padding: 2rem; /* I don't now why padding only works with media query*/
    }
}

@media (max-width: 568px) {
    td {
        font-size: 0.8rem;
        padding: none;
        height: auto;
    }
}

table {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Utilities */

.container {
    max-width: 120rem;
    margin: 0 auto;
}

@media (max-width: 568px) {
    .container {
        width: 95%;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Class Schedule */

.time-column {
    max-width: 10rem; 
}

@media (max-width: 568px) {
    .time-column {
        min-width: 2rem;
    }
}

.day-column {
    width: 20rem;
}

.title, .references-title {
    font-size: 3.5rem;
    font-family: var(--title-font);
    font-weight: 300;
    text-align: center;
}

.career-name, .footer-credits {
    font-size: 1.8rem;
    font-family: var(--title-font);
}

.career-name {
    margin-bottom: 1rem;
}

.theaders {
    font-size: 1.8rem;
    font-weight: 400;
    background-color: var(--thead-color);
    height: 4rem;
}

@media (max-width: 568px) {
    .theaders {
        font-size: 0.8rem;
        height: auto;
    }
}

.border {
    border: 1px solid #576574;
    border-collapse: collapse;
}


.class1, .teacher1 {
    background-color: var(--class1-color);
}

.class2, .teacher2 {
    background-color: var(--class2-color);
}

.class3, .teacher3 {
    background-color: var(--class3-color);
}

.class4, .teacher4 {
    background-color: var(--class4-color);
}

.class5, .teacher5 {
    background-color: var(--class5-color);
}

.class6, .teacher6 {
    background-color: var(--class6-color);
}



/* Teachers and links reference */

.classes-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

@media (max-width: 568px) {
    .classes-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.teacher-name, .class-name, .meet-link {
    margin: 0.5rem 0;
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--doc-color);
}

.teacher-name {
    font-size: 1.8rem;
}

.class-name {
    font-size: 2.3rem;
}

.meet-link {
    font-size: 1.5rem;
    color: var(--doc-color);
    text-decoration: none;
}

.info-container {
    text-align: center;
    padding: 0.5rem 0;
}

.info-container:hover {
    transform: scale(1.01);
    filter: brightness(1.1);
    transition: 0.2s ease-in-out;
}

@media (max-width: 568px) {
    .teacher-name {
        font-size: 1.4rem;
    }
    .class-name {
        font-size: 1.6rem;
    }
    .meet-link {
        font-size: 1.2rem;
    }
}

/* Footer */

.footer-credits {
    margin: 5rem auto 1rem auto;
    justify-content: space-between;
}

@media (max-width: 568px) {
    .footer-credits {
        margin-top: 2rem;
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
    }

    .footer-credits p {
        margin: 0.5rem 0;
    }
}

/* jQuery class */

.active-day {
    font-weight: 700;
    filter: brightness(0.9);
}

.active {
    border: 2px solid #fff;
}